{% extends "musicform/base.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

    <head>
        <title>About us </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="/static/css/about_style.css" rel="stylesheet" type="text/css" media="all"/>
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox.css" media="screen" />
        <script type="text/javascript">
            /******** Fancy Light Box*********/
            $(document).ready(function() {
                /*
                 *  Simple image gallery. Uses default settings
                 */

                $('.fancybox').fancybox();

                /*
                 *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
                 */
                $('.fancybox-media')
                        .attr('rel', 'media-gallery')
                        .fancybox({
                            openEffect : 'none',
                            closeEffect : 'none',
                            prevEffect : 'none',
                            nextEffect : 'none',

                            arrows : false,
                            helpers : {
                                media : {},
                                buttons : {}
                            }
                        });
            });
        </script>

        <script type="text/javascript">
            $(function () {

                var filterList = {

                    init: function () {

                        // MixItUp plugin
                        // http://mixitup.io
                        $('#portfoliolist').mixitup({
                            targetSelector: '.portfolio',
                            filterSelector: '.filter',
                            effects: ['fade'],
                            easing: 'snap',
                            // call the hover effect
                            onMixEnd: filterList.hoverEffect()
                        });

                    },

                    hoverEffect: function () {

                    }

                };

                // Run the show!
                filterList.init();

            });
        </script>
    </head>

    <body>
    <div class="main">
        <div class="content">
            <!---- Services ------>
            <div class="services" id="services">
                <div class="wrap">
                    <h3>OUR</h3>
                    <h2>SERVICES</h2>
                    <div class="line green"></div>
                    <div class="services_grids">
                        <div class="section group">
                            <div class="grid_1_of_4 services_1_of_4"><img src="/static/images/icons/icon1.png">
                                <h3>Make A Band</h3>
                                <p>
                                    You can make a band here with your talented fellows.
                                </p>
                            </div>
                            <div class="grid_1_of_4 services_1_of_4"><img src="/static/images/icons/icon2.png">
                                <h3>Publish Your Great Work</h3>
                                <p>
                                    You can upload your music here to let more people know you.
                                </p>
                            </div>
                            <div class="grid_1_of_4 services_1_of_4"><img src="/static/images/icons/icon3.png">
                                <h3>Find Companies</h3>
                                <p>
                                    Your team can find a chance to get professional future.
                                </p>
                            </div>
                            <div class="grid_1_of_4 services_1_of_4"><img src="/static/images/icons/icon4.png">
                                <h3>Find Talented Musician</h3>
                                <p>
                                    Also if you are a company, find fantastic musicians here.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---- Team ------>
            <div class="team" id="team">
                <div class="wrap">
                    <h2> OUR TEAM</h2>
                    <div class="line skyblue"><span> </span></div>
                    <h4>We are a team of USYD ELEC STUDENTS (Group 13)</h4>
                    <img src="/static/images/icons/we.png">
                </div>
            </div>

            <!--- Testimonials ----------->
            <div class="feedback" id="contact">
                <div class="wrap">
                    <h2>Contact us</h2>

                    <h4>The University of Sydney NSW 2006, AUSTRALIA </h4>

                    <div class="google-map">

                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13248.166158607835!2d151.1873473!3d-33.888584!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1d017d69037a07c0!2z5oKJ5bC85aSn5a2m!5e0!3m2!1szh-CN!2sau!4v1477283787210">
                        </iframe>
                    </div>

                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#nav').onePageNav({
                    begin: function() {
                        console.log('start')
                    },
                    end: function() {
                        console.log('stop')
                    }
                });
            });
        </script>
    </body>
    </html>


{% endblock %}
