{% load staticfiles %}

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">

    <!-- jquery -->
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">

    <!-- Boostrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link href="{% static 'css/style_band.css' %}" rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="{% static 'css/musicform.css' %}">
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <link href="{% static 'css/sweetalert.css' %}" rel="stylesheet" type='text/css'>
    <script src="{% static 'js/ajax_validation_bandname.js' %}"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left navbar-brand">
                <img style="width: 75px;" src="/static/images/icons/nav-logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{% url 'status' %}">Status</a>
                </li>
                <li class="dropdown-inverse ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Requests<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'request' %}">Manage My Requests</a></li>
                        <li><a href="{% url 'manage_request' %}">Manage Sent Requests</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' %}">Profile</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'search' %}">Search</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'how_to' %}">How To</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="content container">

    <!-- <h1><a href="/">Musicform</a></h1> -->

    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>

</html>
