{% extends "musicform/base.html" %}

{% load static %}

{% block content %}
    <!DOCTYPE html>
    <html><head>
        <title>MusicForm</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="MusicForm , here to find you band" />
        <script type="application/x-javascript">
            addEventListener("load", function() {
                setTimeout(hideURLbar, 0);
            }, false);
            function hideURLbar(){
                window.scrollTo(0,1);
            }
        </script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>


        <link href="{% static 'css/bootstrap_homepage.css' %}" rel='stylesheet' type='text/css' />
        <link href="{% static 'css/style_homepage.css' %}" rel='stylesheet' type='text/css' />

        <!---- start-smoth-scrolling---->
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
        <!--start-smoth-scrolling-->

    </head>
    <body>
    <!-- banner -->
    <div id="home" class="banner">
        <div class="header-info">
            <div class="header-info-left">
                <div class="logo">
                    <!--<a href="index.html"><h1>MusicForm</h1></a>-->
                    <a href="/"><img src="/static/images/icons/logo8.png" alt="Icon"></a>


                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="banner-bottom">
            <h2>Here to find your band.</h2>
            <ul>
                <li><a class="active" href="/login/">Sign in / register</a></li>

                <li><a href="/about/">Learn More</a></li>
            </ul>
        </div>
        <div class="d-arw">
            <a href="#about" class="scroll"><img src="/static/images/icons/d-arw.png" alt="" /></a>
        </div>
    </div>
    <!--/header-banner-->
    <!--about-starts-->
    <div class="about" id="about">
        <div class="container">
            <div class="about-main">
                <div class="col-md-4 about-left">
                    <span class="one"> </span>
                    <h3>Develop personal hobbies</h3>
                    <p>Guitar, drum, bass? Rock, blues, folk? Develop your hobbies here and share your songs to the world.</p>
                </div>
                <div class="col-md-4 about-left">
                    <span class="two"> </span>
                    <h3>Make your band</h3>
                    <p>Feel helpless while you are looking forward to make a band? Join MusicForm to find people with the same intention.</p>
                </div>
                <div class="col-md-4 about-left">
                    <span class="tre"> </span>
                    <h3>Challenge the peak</h3>
                    <p>Come, have a world tour show!</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--information-starts-->
    <div class="information">
        <div class="info-main">
            <div class="col-md-5 info-left">
                <div class="info-one">
                    <div class="info-bottom">
                        <h3>Find musicians here.</h3>
                        <p>Did you know? There are about 3 million music enthusiasts
                            that are looking forward to create their own band. Every day thousands
                            of songs are arranged around world. In MusicForm, we have: </p>
                        <ul>
                            <li>
                                <h4>Independent Musicians</h4>
                                <span>23,000</span>
                            </li>
                            <li>
                                <h4>Existing Bands about</h4>
                                <span>4,000</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7 info-right">
                <img src="/static/images/picture/info-2.gif" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--information-ends-->
    <!--remember-starts-->
    <div class="remember">
        <div class="container">
            <div class="remember-main">
                <div class="col-md-6 remember-left">
                    <h3>Listen to others' attitudes.</h3>
                    <p> Whether you’re working out, partying or relaxing, the right music is always at your fingertips. Choose what you want to listen to, or let Musicform surprise you.</p>

                    <p>You can also browse through the music collections of friends, artists and celebrities, and just sit back.</p>

                </div>
                <div class="col-md-6 remember-right">
                    <img src="/static/images/picture/remember-1.gif" alt=""/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--remember-ends-->
    <!--comment-starts-->
    <div class="comment">
        <div class="comment-main">
            <div class="col-md-5 comment-left">
                <img src="/static/images/picture/cmt-1.jpg" alt=""/>
            </div>
            <div class="col-md-7 comment-right">
                <div class="cmt-bottom">
                    <p>A song a homeless heart a lonely soul.</p>
                    <h4>Here, you can find your heart.</h4>
                    <label>Creative Artist</label>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--comment-ends-->
    <!--clients-starts-->
    <div class="clients">
        <div class="container">
            <div class="clients-main">
                <ul>
                    <li><img src="/static/images/picture/band-006.jpg" alt=""/></li>
                </ul>
            </div>
        </div>
    </div>
    <!--clients-ends-->
    <!--newsletter-starts-->

    <!--newsletter-ends-->
    <!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-main">
                <div class="col-md-6 footer-left">
                    <a href="/"><img src="/static/images/icons/logo9.png" alt="Icon"></a></div>
                <div class="col-md-6 footer-right">
                    <ul>
                        <li><a href="https://www.facebook.com"><span class="fb"> </span></a></li>
                        <li><a href="https://twitter.com"><span class="twit"> </span></a></li>
                        <li><a href="https://youtube.com"><span class="cm"> </span></a></li>
                        <li><a href="https://twitter.com"><span class="yt active"> </span></a></li>
                        <li><a href="https://google.com"><span class="drb"> </span></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-text">

                <p><a href="/about/">USYD ELEC3609/9609 GROUP 13  </a></p>
                <k>This is a fake site which is an assignment of course.</k>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                 var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear'
                 };
                 */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
    <!--footer-ends-->
    </body>
    </html>

{% endblock %}
