{% extends "musicform/base.html" %}

{% block title %}
    How To
{% endblock %}

{% block content %}


    <!DOCTYPE html>
    <html>
    <head>
        <title>How To</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Appmo v2 Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="/static/css/howto_bootstrap.css" rel='stylesheet' type='text/css' />
        <link href="/static/css/howto_style.css" rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>

        <!---- start-smoth-scrolling---->
    </head>
    <body>

    <!--start-banner-->
    <div class="banner">
        <div class="container">
            <div class="banner-top">
                <h1>MusicForm User Guides</h1>
                <p>How can I help you?</p>
            </div>
            <div class="banner-bottom">
                <div class="col-md-4 banner-left">
                    <a href="/home.html">Take a tour</a>
                </div>
                <div class="col-md-4 banner-middle">
                    <img src="/static/images/icons/iphone.png" alt="" />
                </div>
                <div class="col-md-4 banner-right">
                    <a href="/search.html">Search for</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--start-banner-->
    <!--start-feature-->
    <div class="feature" id="features">
        <div class="container">
            <div class="feature-main">
                <h3>Awesome Features</h3>
                <p>
                    Have questions? Or don't know how to enjoy our awesome features? Here are
                    some answers and illustrations for you!
                </p>
            </div>
            <div class="feature-bottom">
                <div class="col-md-6 feature-bottom-left">
                    <div class="ftr-one">
                        <div class="feature-left">
                            <img src="/static/images/icons/feature-1.png" alt="" />
                        </div>
                        <div class="feature-right">
                            <h4>Search</h4>
                            <p>
                                Search a song, album, artist, label, genre, or friend on Musicform.
                                Find just what you’re looking for on Musicform with Search: Songs,
                                Artists, Albums, Playlists, Other Musicform users
                                (by their name or username), Genres and Moods
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ftr-one">
                        <div class="feature-left">
                            <img src="/static/images/icons/feature-3.png" alt="" />
                        </div>
                        <div class="feature-right">
                            <h4>Bands</h4>
                            <p>
                                Make your own bands with your talent friends or musicians you want!
                                Open a new world of music with Musicform! Join us and do it!
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ftr-one">
                        <div class="feature-left">
                            <img src="/static/images/icons/feature-5.png" alt="" />
                        </div>
                        <div class="feature-right">
                            <h4>Songs</h4>
                            <p>
                                Do you want to show your wonderful songs or demo online? Do you want
                                everyone know your talent? Musicform can help you do that! Just
                                upload your songs and demo on your own profile!
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 feature-bottom-left">
                    <div class="ftr-one">
                        <div class="feature-left">
                            <img src="/static/images/icons/feature-2.png" alt="" />
                        </div>
                        <div class="feature-right">
                            <h4>Requests Page</h4>
                            <p>
                                Want to join a band, want to make a band with someone, whatever.
                                See our requests page, just type your requirements in the box,
                                and click send! Your dreams will come true now!
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ftr-one">
                        <div class="feature-left">
                            <img src="/static/images/icons/feature-4.png" alt="" />
                        </div>
                        <div class="feature-right">
                            <h4>Profile Page</h4>
                            <p>
                                This is your own page to show your information. At the same time,
                                we provide many nice functions for you on that page! Make your
                                space better! Enjoy our well-designed profile page!
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ftr-one">
                        <div class="feature-left">
                            <img src="/static/images/icons/feature-6.png" alt="" />
                        </div>
                        <div class="feature-right">
                            <h4>About Page</h4>
                            <p>
                                If you still have some questions, contact us! We have an about
                                page for you guys to show some contact information of us. In
                                order to make a satisfying website, you are more than welcome to
                                contact us anytime!
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--end-feature-->

    </body>
    </html>


{% endblock %}
