{% extends 'musicform/base.html' %}

{% block content %}

    <head>
        <title>Login</title>


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta name="keywords" content="MusicForm, here to find your band, log in form"/>
        <link href="/static/css/loginstyle.css" rel='stylesheet' type='text/css' />
        <!--webfonts-->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
        <!--/webfonts-->
    </head>

    <div class="hero-unit">

        <body>
        <!--start-main-->
        <h1>Login</h1>
        <div class="login-box">
            <div class="camera"> </div>
            {% if error_message %}
                <h4><b>{{ error_message }}</b></h4>
            {% endif %}
            <form method="POST" class="post-form">
                {% csrf_token %}
                <div class="form-group" action="{% url 'login' %}">
                    <label class="control-label col-sm-2" for="id_username">

                    </label>
                    <div class="col-sm-10">
                        <input id="id_username" maxlength="30" name="username" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="id_password">

                    </label>
                    <div class="col-sm-10">
                        <input id="id_password" maxlength="30" name="password" type="password" placeholder="Password">
                    </div>
                </div>

                <div class="btn"><input type="submit" value="Log in"></div>
            </form>

            <div class="remember">
                <p>Don't have an account?</p>
                <h4><a href="/register/">Register<img src="/static/images/icons/arrow.png" /></a></h4>
            </div>

            <!--//End-login-form-->
            <!--start-copyright-->

            <div class="copy-right">
                <p><a href="contact.html">USYD ELEC3609/9609 GROUP 13  </a></p>
            </div>
            <!--//end-copyright-->
        </body>
    </div>

{% endblock %}
