{% extends "musicform/base.html" %}

{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

    <title>{{ user.username }}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style_profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#song-show").click(function(){
                $("#song-profile").toggle();
            });
        });
    </script>

    <div>
        <div>
            <div class="profile-sidebar">
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <h1>Welcome! <b>{{ user.username }}</b></h1>
                    </div>
                </div>
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu" align="right">
                    <ul class="nav">
                        <li style="display:inline-block">
                            <a href="{% url 'edit_profile' %}">
                                <i class="glyphicon glyphicon-user"></i>
                                Edit Profile </a>
                        </li>
                        <li style="display:inline-block">
                            <a href="#">
                                <i class="glyphicon glyphicon-cog"></i>
                                Account Settings </a>
                        </li>


                    </ul>
                </div>
                <!-- END MENU -->

            </div>
            <div class="col-md-8">

                <div class="profile-sidebar"
                     style="border-radius:10px;
                border:2px solid black;
                padding:10px;
                overflow:auto;">

                    <!-- SIDEBAR USERPIC -->

                    <figure class="user_profile">
                        <figcaption>
                            <img src="/static/images/icons/profile_icons/{{ user.userprofile.profile_icon }}"
                                 height="100px" width="100px" class="pull-left">
                            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                            <a href="#" class="follow">Follow</a>
                            <a href="#" class="info">More Info</a>
                        </figcaption>
                    </figure>

                    <!-- END SIDEBAR USER TITLE -->
                </div>
                <div class="table t-instrument" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;height:100%;">
                    <table class="table t-instrument">
                        <tr>
                            <th><h1>Biography</h1></th>
                        </tr>
                    </table>
                    <div id="user_bio" style="padding:10px;">
                        <b>Gender:</b> {{ user.userprofile.gender }}
                        <br>
                        <b>Location:</b> {{ user.userprofile.location }}
                        <br>
                        <b>Contact:</b> {{ user.userprofile.mobile_number }}
                        <br>
                        <b>Biography:</b>
                        <br>
                        {{ user.userprofile.biography }}
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-4" >
                <!-- Table Instrument -->
                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-instrument">
                        <thead>
                        <th>Instruments</th>
                        <th>
                            <a class="btn btn-success pull-right" href="{% url 'user_instruments' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </th>
                        </thead>
                        {% for instrument in instruments %}
                            <tbody>
                            <tr>
                                <td> {{ instrument.instrument }}</td>
                                <td> <b>Grade:</b> {{ instrument.grade }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                <!-- Table Genre -->
                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-genre">
                        <thead>
                        <th>Genres</th>
                        <th>
                            <a class="r-btn pull-right" href="{% url 'user_genre' %}">
                                Add more
                            </a>
                        </th>
                        </thead>
                        {% for genre in genres %}
                            <tbody>
                            <tr>
                                <td>
                                    {{ genre.genre }}
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                <!-- Table Band -->
                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-band">
                        <thead>
                        <th>My Bands</th>
                        <th>
                            <a class="btn btn-success pull-right" href="{% url 'band_new' %}">
                        <span class="glyphicon glyphicon-plus">

                        </span>
                            </a>
                        </th>
                        </thead>
                        {% for band in bands %}
                            <tbody>
                            <tr>
                                <td>
                                    <a href="{% url 'band_information' band.id %}">{{ band.name }}</a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>
                </div>

                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-band">
                        <thead>
                        <th>Member in the following bands:</th>
                        </thead>
                        {% for request in requests %}
                            <tbody>
                                {% if request.approved %}
                                <td>
                                    <a href="{% url 'band_information' request.id %}">{{ request.band }}</a>
                                </td>
                                {% endif %}
                            </tr>
                            </tbody>
                        {% endfor %}

                    </table>
                </div>

                <!-- Table Songs -->
                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-songs">
                        <thead>
                        <th>Songs</th>
                        <th>
                            <a class="btn btn-success pull-right" href="{% url 'user_song' %}">
                                <span class="glyphicon glyphicon-plus">

                                </span>
                            </a>
                        </th>
                        </thead>
                        {% for song in songs %}
                            <tbody>
                            <tr>
                                <td><a href="{% url 'song_information' song.id %}">{{ song.song_name }}</a></td>
                            </tr>
                            </tbody>
                        {% endfor %}
                        <a class="pull-right" href="{% url 'all_songs' %}">View All</a>
                    </table>

                </div>

            </div>
        </div>

    </div>


{% endblock %}
