{% extends 'musicform/base.html' %}

{% block content %}

    <head>
        <title>Registration</title>


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript">
            addEventListener("load", function() {
                setTimeout(hideURLbar, 0);
            }, false);
            function hideURLbar(){
                window.scrollTo(0,1);
            }
        </script>
        <meta name="keywords" content="MusicForm, here to find your band, log in form"/>
        <link href="/static/css/Register_style.css" rel='stylesheet' type='text/css' />
        <!--webfonts-->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
		<
        <!--/webfonts-->
    </head>

    {% if registered %}
        <div class="login-box1">
            <h2>Thank you for registering to MusicForm!
                <br>
                <a href="/login/">Login here</a>
            </h2>
        </div>
    {% else %}
        <form id="user_form" method="POST" class="post-form" action="/register/" enctype="multipart/form-data">

        {% csrf_token %}

        <h1>Registration</h1>

        <div class="login-box1">
                <br></br>
                <div>
                    <h3>Username  <input id="username" name="username" type="text" placeholder="" required>
                        {% if user_error.username %}
                            {{ user_error.username }}
                        {% endif %}
                    </h3>
                </div>
                <div>
                    <h3>First Name<input id="first_name" name="first_name" type="text" placeholder="" required>
                        {% if profile_error.firstname %}
                            profile_error.firstname
                        {% endif %}
                    </h3>
                </div>
                <div>
                    <h3>Last Name
                        <input id="last_name" name="last_name" type="text" placeholder="">
                    </h3>
                </div>

                <div>
                    <h3>E-mail&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input id="email" name="email" type="text" placeholder="">
                    </h3>
                </div>

                <div>
                    <h3>Password
                        <input id="password" name="password" type="password" placeholder="" required>
                        {% if user_error.password %}
                            {{ user_error.password }}
                        {% endif %}
                    </h3>
                </div>
                <div>
                    <h3>Biography
                        <input id="biography" name="biography" type="text" placeholder="" required>
                        {% if profile_error.biography %}
                            {{ profile_error.biography }}
                        {% endif %}
                    </h3>
                </div>

                <div>
                    <h3>Birth Date
                        <input id="birth_date" name="birth_date" type="date" placeholder="" required>
                        {% if profile_error.birth_date %}
                            {{ profile_error.birth_date }}
                        {% endif %}
                    </h3>
					</div>
                    <div>
                        <h3>Gender&nbsp&nbsp&nbsp&nbsp

                            <select name="gender" style="color:black">
                                <option value="Female">Female</option>
                                <option value="Male"selected="selected">Male</option>
                            </select>
						</h3>
					</div>
					<div>
						<h3>
                            Location&nbsp&nbsp&nbsp&nbsp
                            <select name="location" style="color:black">
                                <option value="Sydney"selected="selected">Sydney</option>
                                <option value="Canberra">Canberra</option>
                                <option value="Brisbane">Brisbane</option>
                                <option value="Melbourne">Melbourne</option>
                                <option value="Tasmania">Tasmania</option>
                                <option value="Darwin">Darwin</option>
                                <option value="Adelaide">Adelaide</option>
                                <option value="Perth">Perth</option>

                            </select>
						</h3>
                    </div>
                    <div>

                    <h3>Mobile&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input id="mobile_number" name="mobile_number" type="text" placeholder="" maxlength="10" required>
                        {% if profile_error.mobile_number %}
                            {{ profile_error.mobile_number }}
                        {% endif %}
                    </div>

                    <div>
                        <h3>Profile Icon
                            <select name="profile_icon" style="color:black">
                                <option value="bells.png"selected="selected">Bells</option>
                                <option value="cloud.png">Cloud</option>
                                <option value="disc.png">Disc</option>
                                <option value="drum.png">Drum</option>
                                <option value="eq.png">Equaliser</option>
                                <option value="guitar.png">Guitar</option>
                                <option value="mic.png">Microphone</option>
                                <option value="piano.png">Piano</option>
                                <option value="sound.png">Sound</option>
                                <option value="soundboard.png">Soundboard</option>
                                <option value="tape.png">Tape</option>
                                <option value="tape2.png">Radio</option>
                                <option value="violin.png">Violin</option>
                                <option value="xylo.png">Xylophone</option>

                            </select>
                    </div>




                    <div><br></br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="register" class="save btn btn-success">
                            Register
                        </button>
                    </div>


            </form>


        </div>
        </div>
        <!--//End-login-form-->
        <!--start-copyright-->
        <div class="copy-right">
            <p><a href="contact.html">USYD ELEC3609/9609 GROUP 13  </a></p>

        </div>

    {% endif %}
{% endblock %}





</body>
</html>
