{% extends "musicform/base.html" %}

{% block title %}
    Status
{% endblock %}

{% block content %}

    <style type="text/css">
        body {
            background-image:url(/static/images/request.jpg);
            background-attachment:fixed;
            background-size: cover;
            font-family: 'Open Sans', sans-serif;
        }
    </style>

    <title>Requests</title>

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color:#FDFEFE;">Requests
            </h1>
        </div>
    </div>
    <!-- /.row -->

    {% if requests %}
        {% if not requests.hide_function %}
            {% for brequest in requests %}
                <div class="row">
                    <div class="col-md-7">
                        <a href="{% url 'band_information' brequest.band.id %}">
                            <img class="img-responsive" src="{{ brequest.band.logo.url }}" alt="" height="350" width="500">
                        </a>
                    </div>

                    <div class="col-md-5" style="color:white;">
                        <h2>Band: {{ brequest.band.name }}</h2>
                        <h4>Located At: {{ brequest.band.location }}</h4>
                        <hr>
                        {% if brequest.user_id_from == request.user %}
                            <h2>Request Message:</h2>
                            <p>{{ brequest.text }}</p>
                        {% else %}
                            <a class="btn btn-danger pull-right" href="{% url 'approve_request' pk=brequest.pk %}">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                            <a class="btn btn-info pull-right" href="{% url 'decline_request' pk=brequest.pk %}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        {% endif %}
                    </div>

                    <!-- end band info -->
                </div>
                <!-- /.row -->
                <hr>
            {% endfor %}
        {% endif %}
    {% else %}
        <div class="jumbotron">
            <h3>Would you like to add more requests?</h3>
            <a href="{% url 'status' %}" type="submit" class="save btn btn-primary" value="create_new">
                Click Here
            </a>

        </div>
    {% endif %}

{% endblock %}
