{% extends "musicform/base.html" %}

{% block title %}
    Search
{% endblock %}

{% block content %}

    <html>
    <head>
        <title>Search</title>
        <!-- Custom Theme files -->
        <link href="/static/css/style_search.css" rel="stylesheet" type="text/css" media="all"/>
        <!-- Custom Theme files -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content=""/>
        <!--Google Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <!--Google Fonts-->
    </head>
    <body>
    <div class="search">
        <i> </i>
        <div class="s-bar">
            <form action="" method="get">
                {% csrf_token %}

                <input name="result" type="text" value="Search Here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Here';}">
                <input type="submit" value="Search"/>
                <br>
                <div style="color: white;">
                    Filter By:
                    <br>
                    <label class="radio-inline">
                      <input type="radio" name="filter_by" value="Band" required>Band
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="filter_by" value="User" required>Musician
                    </label>
                </div>
                <br>
                <font color="white">Locations: <br>
                    <input type="radio" name="location" value="Sydney"> Sydney
                    <input type="radio" name="location" value="Melbourne"> Melbourne
                    <input type="radio" name="location" value="Adelaide"> Adelaide
                    <input type="radio" name="location" value="Brisbane"> Brisbane
                    <br>
                    <input type="radio" name="location" value="Canberra"> Canberra
                    <input type="radio" name="location" value="Darwin"> Darwin
                    <input type="radio" name="location" value="Hobart"> Hobart
                    <input type="radio" name="location" value="Perth"> Perth
                </font>

            </form>
        </div>
        <p>Popular searches: <a href="#">Musician,</a> <a href="#"> Bands </a></p>
    </div>
    <div class="copyright">
        <p>2016 Musicform  </p>
    </div>
    </body>
    </html>


{% endblock %}
