{% extends "musicform/base.html" %}

{% block title %}
    Status
{% endblock %}

{% block content %}
    <style type="text/css">
        body {
            background-image:url(/static/images/status.jpg);
            background-attachment:fixed;
            background-size: cover;
            font-family: 'Open Sans', sans-serif;
            color:#ffffff;
        }
    </style>
    <title>Status</title>
    <!-- Page Heading -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bands
                {% if bands %}
                    <a href="{% url 'band_new' %}" type="submit" class="save btn btn-primary pull-right" value="create_new">
                        Create New
                    </a>
                {% else %}
                    <a href="{% url 'search' %}" type="submit" class="save btn btn-primary pull-right">
                        Back to Search
                    </a>
                {% endif %}
            </h1>
        </div>
    </div>
    <!-- /.row -->

    {% if bands %}
        {% for band in bands %}
            <!-- Project One -->
            <div class="row">
                <div class="col-md-7">
                    <a href="{% url 'band_information' band.id %}">
                        <img class="img-responsive" src="{{ band.logo.url }}" alt="" height="350" width="500">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>{{ band.name }}</h3>
                    <h4> <b>Located At:</b> {{ band.location }}</h4>
                    <p>{{ band.introduction|linebreaksbr }}</p>
                    <br>
                    <b>Member{% if band.approved_members.count == 1 %} {% else %}s{% endif %}:</b> {{ band.approved_members.count }}
                    <br>
                    <b>Comment{% if band.comments.count == 1 %} {% else %}s{% endif %}:</b> {{ band.comments.count }}
                    <br>
                    <a class="btn btn-primary pull-right" href="{% url 'band_information' band.id %}">
                        View Project <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <!-- /.row -->

            <hr>
        {% endfor %}
    {% else %}

        <div class="jumbotron" style="color:#000000;">
            <h3>No bands matched your search.</h3>
            <h3>Would you like to create a band?</h3>
            <a href="{% url 'band_new' %}" type="submit" class="save btn btn-primary" value="create_new">
                Click Here
            </a>

        </div>


    {% endif %}

{% endblock %}
