{% extends "musicform/base.html" %}

{% block title %}
    Song
{% endblock %}

{% block content %}

    {% for song in songs %}
        <h1>{{ song.song_name }}</h1>

        <br>

        <audio controls>
            <source src="{{ song.file.url }}" type="audio/mpeg">

        </audio>
    {% endfor %}

{% endblock %}
