{% extends 'musicform/base.html' %}

{% block content %}
    <h1>Update Profile</h1>
    <div class="well">
        <form id="user_form" method="POST" class="post-form" action="/register/" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="login-box1">
                <div>
                    <h4>
                        Username {{ user_form.username }}
                    </h4>
                </div>
                <div>
                    <h4>First Name {{ user_form.first_name }}
                    </h4>
                </div>
                <div>
                    <h4>
                        Last Name {{ user_form.last_name }}
                    </h4>
                </div>

                <div>
                    <h4>
                        E-mail {{ user_form.email }}
                    </h4>
                </div>

                <div>
                    <h4>Password
                        <fieldset disabled="disabled">
                            {{ user_form.password }}
                        </fieldset>
                    </h4>
                </div>
                <div>
                    <h4>Biography
                        {{ profile_form.biography }}
                    </h4>
                </div>

                <div>
                    <h4>Birth Date
                        {{ profile_form.birth_date }}
                    </h4>
                </div>
                <div>
                    <h4>Gender&nbsp&nbsp&nbsp&nbsp
                        {{ profile_form.gender }}
                    </h4>
                </div>
                <div>
                    <h4>
                        Location&nbsp&nbsp&nbsp&nbsp
                        {{ profile_form.location }}
                    </h4>
                </div>
                <div>

                    <h4>Mobile&nbsp&nbsp&nbsp&nbsp&nbsp
                        {{ profile_form.mobile_number }}
                </div>

                <div>
                    <h4>Profile Icon
                        {{ profile_form.profile_icon }}
                </div>
                <div>
                    <button type="register" class="save btn btn-success">
                        Update Profile
                    </button>
                </div>
        </form>
    </div>
{% endblock %}
