{% extends "musicform/base.html" %}

{% block title %}
    New Request
{% endblock %}

{% block content %}


    <div class="well">

        <h1> Request </h1>
        {% if error %}
            {{ error }}
        {% endif %}
        <form method="POST" class="post-form" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" action="{% url 'login' %}">
                <label class="control-label col-sm-2" for="id_username">
                    Message:
                </label>
                <div class="col-sm-10">
                <textarea id="id_introduction" name="text" type="url" required
                          rows="4" cols="50" maxlength="1000" placeholder="Send a message to the band manager"></textarea>
                </div>
            </div>

            <button type="submit" class="save btn btn-info">
                Submit
            </button>
        </form>
    </div>


{% endblock %}
