{% extends "musicform/base.html" %}

{% block title %}
    New Song
{% endblock %}

{% block content %}

    {% if error %}
        {{ error }}
    {% endif %}

    <form method="POST" class="post-form" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="well">
            {{ genre_form.as_p }}

            <button type="submit" class="save btn btn-info">
                Submit
            </button>
        </div>
    </form>


{% endblock %}
