{% extends "musicform/base.html" %}

{% block title %}
    New Song
{% endblock %}

{% block content %}


    <div class="well">
        <form method="POST" class="post-form" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" action="{% url 'login' %}">
                <label class="control-label col-sm-2" for="id_username">
                    Song Name:
                </label>
                <div class="col-sm-10">
                    <input id="id_name" maxlength="30" name="song_name" type="text" placeholder="Song Name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    Song File:
                </label>
                <div class="col-sm-10">
                    <input maxlength="30" name="file" type="file" required>
                </div>
            </div>

            <button type="submit" class="save btn btn-info">
                Submit
            </button>
        </form>
    </div>


{% endblock %}
