{% extends "musicform/base.html" %}

{% block title %}
    New Instrument
{% endblock %}

{% block content %}

    <div class="well">
        {% if error %}
            {{ error }}
        {% endif %}
        <form method="POST" class="post-form" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" action="{% url 'login' %}">
                <label class="control-label col-sm-2" for="id_username">
                    Instrument:
                </label>
                <div class="col-sm-10">
                    <input id="id_name" maxlength="30" name="instrument" type="text" placeholder="Instrument Name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    Grade:
                </label>
                <div class="col-sm-10">
                    <select name="grade">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                        <option value="5">Five</option>
                        <option value="6">Six</option>
                        <option value="7">Seven</option>
                    </select>
                </div>
            </div>

            <br>

            <button type="submit" class="save btn btn-info">
                Submit
            </button>
        </form>
    </div>


{% endblock %}
