{% extends "musicform/base.html" %}

{% block title %}
    Status
{% endblock %}

{% block content %}
    <style type="text/css">
        body {
            background-image:url(/static/images/status.jpg);
            background-attachment:fixed;
            background-size: cover;
            font-family: 'Open Sans', sans-serif;
            color:#ffffff;
        }
    </style>
    <title>Status</title>
    <!-- Page Heading -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Musicians
                <a href="{% url 'search' %}" type="submit" class="save btn btn-primary pull-right">
                    Back to Search
                </a>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    {% if users %}
        {% for user in users %}
            <!-- Project One -->
            <div class="row">
                <div class="col-md-7">
                    <a href="{% url 'view_profile' user.id %}">
                        <img class="img-responsive"
                             src="/static/images/icons/profile_icons/{{ user.userprofile.profile_icon }}"
                             alt="" height="150" width="300">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3>{{ user.username }}</h3>
                    <h4> <b>Located At:</b> {{ user.userprofile.location }}</h4>
                    <br>
                    <a class="btn btn-success pull-right" href="{% url 'view_profile' user.id %}">
                        View Profile <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <!-- /.row -->

            <hr>
        {% endfor %}
    {% else %}

        <div class="jumbotron" style="color:#000000;">
            <h3>No musicians matched your search.</h3>
        </div>

    {% endif %}

{% endblock %}
