{% extends "musicform/base.html" %}

{% block title %}
    Song
{% endblock %}

{% block content %}

    <h1>{{ song.song_name }}</h1>

    <audio controls>
        <source src="{{ song.file.url }}" type="audio/mpeg" preload="auto">

    </audio>

{% endblock %}
