{% extends "musicform/base.html" %}

{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

    <title>{{ user.username }}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style_profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#song-show").click(function(){
                $("#song-profile").toggle();
            });
        });
    </script>

    <div>
        <div>
            <div class="col-md-8">

                <div class="profile-sidebar"
                     style="border-radius:10px;
                border:2px solid black;
                padding:10px;
                overflow:auto;">

                    <!-- SIDEBAR USERPIC -->

                    <figure class="user_profile">
                        <figcaption>
                            <img src="/static/images/icons/profile_icons/{{ user_prof.profile_icon }}"
                                 height="100px" width="100px" class="pull-left">
                            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                            <p>value {{ user_prof.profile_icon }}</p>
                            <a href="#" class="follow">Follow</a>
                            <a href="#" class="info">More Info</a>
                        </figcaption>
                    </figure>

                    <!-- END SIDEBAR USER TITLE -->
                </div>
                <div class="table t-instrument" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;height:100%;">
                    <table class="table t-instrument">
                        <tr>
                            <th><h1>Biography</h1></th>
                        </tr>
                    </table>
                    <div id="user_bio" style="padding:10px;">
                        <b>Biography:</b>
                        <br>
                        {{ user_prof.biography }}
                        <br>
                        <b>Gender:</b> {{ user_prof.gender }}
                        <br>
                        <b>Location:</b> {{ user_prof.location }}
                        <br>
                        <b>Contact:</b> {{ user_prof.mobile_number }}
                    </div>
                </div>
            </div>

            <div class="col-md-4" >
                <!-- Table Instrument -->
                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-instrument">
                        <thead>
                        <th>Instruments</th>
                        <th>
                        </th>
                        </thead>
                        {% for instrument in instruments %}
                            <tbody>
                            <tr>
                                <td> {{ instrument.instrument }}</td>
                                <td> <b>Grade:</b> {{ instrument.grade }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                <!-- Table Genre -->
                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-genre">
                        <thead>
                        <th>Genres</th>
                        <th>
                        </th>
                        </thead>
                        {% for genre in genres %}
                            <tbody>
                            <tr>
                                <td> {{ genre }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                <!-- Table Band -->
                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-band">
                        <thead>
                        <th>Bands</th>
                        <th>
                        </th>
                        </thead>
                        {% for band in bands %}
                            <tbody>
                            <tr>
                                <td>
                                    <a href="{% url 'band_information' band.id %}">{{ band.name }}</a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                <!-- Table Songs -->
                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-songs">
                        <thead>
                        <th>Songs</th>
                        <th>
                        </th>
                        </thead>
                        {% for song in songs %}
                            <tbody>
                            <tr>
                                <td><a href="{% url 'song_information' song.id %}">{{ song.song_name }}</a></td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>

                </div>

                <!-- Table Requests -->
                <div class="instrument-table" style="border-radius:10px;border:1px solid black;padding:10px;margin-top:10px;box-shadow:2px 2px #888888;">
                    <table class="table t-songs">
                        <thead>
                        <th>Requests</th>
                        </thead>
                        {% for request in requests %}
                            <tbody>
                            <tr>
                                <td><a href="{% url 'request_information' request.id %}">{{ request.song_name }}</a></td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>

                </div>

            </div>
        </div>

    </div>


{% endblock %}
