{% extends "musicform/base.html" %}

{% load static %}

{% block title %}
    View Request
{% endblock %}

<link rel="stylesheet" type="text/css" href="../static/css/style_band.css">
<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">

{% block content %}
    <style type="text/css">
        body {
            background-image:url(/static/images/status.jpg);
            background-attachment:fixed;
            background-size: cover;
            font-family: 'Open Sans', sans-serif;
            color:#ffffff;
        }
    </style>

    <script>
        function delete_confirm() {
            return confirm("Are you sure?");
        };
    </script>


    <title>{{ band.name }}</title>

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><b>Band:</b>  {{ band.name }}
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Project One -->
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="{{ band.logo.url }}" alt="" height="350" width="500">
        </div>
        <!-- Add a for loop here -->
        <div class="col-md-5 band-info">
            <h2><b>Managed by:</b>
                <a href="{% url 'view_profile' band.creator.id %}">
                    {{ band.creator }}
                </a>
            </h2>
            <br>
            <h4><b>Located at:</b> {{ band.location }}</h4>
            <p>
                <div class="band-introduction">
            <p>
                {{ band.introduction|linebreaks }}
            </p>
        </div>
        </p>
    </div>

    <!-- SOCIAL SHARING -->
    <div class="col-md-2">
        {% if request.user == band.creator %}
            <a class="btn btn-default pull-right" href="{% url 'edit_band' band.id %}">Edit</a>
            <a class="btn btn-info pull-right" href="{% url 'manage_request' %}">View</a>
        {% endif %}

        <div class="social-sharing">
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.facebook.com/sharer.php?u={{ request.path }}"class="btn btn-social-icon btn-twitter">
                        <img src="{% static 'images/icons/facebook.png' %}" alt="Facebook" height="30px"/>
                    </a>
                <li>
                    <a href="https://twitter.com/share?url={{ request.path }}" class="btn btn-social-icon btn-twitter">
                        <img src="{% static 'images/icons/twitter.png' %}" alt="Twitter" height="30px"/>

                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/share?url={{ request.path }}" class="btn btn-social-icon btn-google">
                        <img src="{% static 'images/icons/google.png' %}" alt="Google" height="30px"/>
                    </a>
                </li>
            </ul>
        </div>
        {% if request.user !=  band.creator %}
            {#                Need to check if the request.user is in the band already to prevent the button below showing#}
            <a class="btn btn-success" href="{% url 'user_request' band.id %}">
                Request To Join <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        {% endif %}
    </div>
    <!-- END SOCIAL SHARING -->


    </div>
    <!-- /.row -->

    <hr>
    <div class="jumbotron" style="color:#000000;">
        <div class="row">
            <h2>Members:</h2>
            {% for member in band.request.all %}
                {% if member.approved %}
                    <!-- Div for showing the members -->
                    <div class="col-md-2 col-md-offset-1 circle-plus" data-content="{{ member.user_id_from }}">
                        <img class="img-responsive"
                             src="/static/images/icons/profile_icons/{{ member.user_id_from.userprofile.profile_icon }}"
                             alt="">
                        <p align="middle">{{ member.user_id_from.userprofile.profile_icon|make_list|slice:':-4' |join:'' }}</p>
                    </div>
                {% endif %}
            {% empty %}
                <h3 align="center">No members currently. <br>Would you like to be the first?</h3>
            {% endfor %}

        </div>
    </div>

    <hr>

    <!-- Comment section -->
    {% for comment in band.comments.all %}
        <div class="band-comment">
            {% if request.user == comment.author %}
                <a class="btn btn-danger pull-right comment_confirm" href="{% url 'remove_comment' pk=comment.pk %}"
                    onclick="return delete_confirm();">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a class="btn btn-info pull-right" href="{% url 'edit_comment' pk=comment.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
            <p>{{ comment.text|linebreaks }}</p>
            <div class="date">
                <img class="img-responsive"
                     src="/static/images/icons/profile_icons/{{ comment.author.userprofile.profile_icon }}"
                     alt=""
                     height="75px"
                     width="75px">
                <strong>
                    <a href="{% url 'view_profile' comment.author.id %}">
                        {{ comment.author }}
                    </a>
                </strong>, Created {{ comment.created_date|timesince }} ago
                {% if comment.created_date|timesince != comment.updated_date|timesince %}
                    , Edited {{ comment.updated_date|timesince }} ago
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No comments yet. Be the first!</p>
    {% endfor %}
    <hr>
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="col-sm-10">
            <textarea id="id_introduction" class="comment-sec" name="text" type="url" required
                      maxlength="1000" placeholder="Make a comment to a band"></textarea>
        </div>
        <input type="submit" value="Post Comment" class="btn btn-default">
    </form>

{% endblock %}
