{% extends 'musicform/base.html' %}

{% block content %}
    <h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="id_password">
                Text:
            </label>
            <div class="col-sm-10">
            <textarea id="id_introduction" name="text" type="url" required
                      rows="4" cols="50" maxlength="100" placeholder="Make a comment to a band"></textarea>
            </div>
        </div>
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}