{% extends "musicform/base.html" %}

{% load static %}

{% block content %}
    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{#    <form method="POST" class="post-form" role="form" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#        <div class="form-group" action="{% url 'login' %}">#}
{#            <label class="control-label col-sm-2" for="id_username">#}
{#            Band Name:#}
{#            </label>#}
{#            <div class="col-sm-10">#}
{#            <input id="id_name" maxlength="30" name="name" type="text" placeholder="Band Name" required>#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#          <label class="control-label col-sm-2" for="id_password">#}
{#            Introduction:#}
{#          </label>#}
{#          <div class="col-sm-10">#}
{#            <textarea id="id_introduction" name="introduction" type="url" required#}
{#                   rows="4" cols="50" maxlength="100" placeholder="Make a statement about the band"></textarea>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <button type="submit" class="save btn btn-info">#}
{#          Submit#}
{#        </button>#}
{#    </form>#}
{% endblock %}
