{% extends "musicform/base.html" %}

{% block title %}
    New Band
{% endblock %}

{% block content %}

    <form method="POST" class="post-form" role="form" enctype="multipart/form-data" id="band_form">
        {% csrf_token %}
        <div class="well">
            <div class="form-group"">
                <label class="control-label col-sm-2" for="id_username">
                    Band Name:
                </label>
                <div class="col-sm-10">
                    <input id="id_bandname" maxlength="30" name="name" type="text" placeholder="Band Name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="id_password">
                    Introduction:
                </label>
                <div class="col-sm-10">
                    <textarea id="id_introduction" name="introduction" type="url" required
                              rows="4" cols="50" maxlength="1000" placeholder="Make a statement about the band"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="id_password">
                    Logo:
                </label>
                <div class="col-sm-10">
                    <input id="id_password" maxlength="30" name="logo" type="file">
                </div>
            </div>

            <button type="submit" class="save btn btn-info" id="submit_band">
                Submit
            </button>
        </div>
    </form>



{% endblock %}
