/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	background:	#000001;
	font-family: 'Exo', sans-serif;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- Header Part Starts Here --*/
.header{
	padding: 1.8em 0;
	position:relative;
	text-align:center;
	background:#fff;
}
.logo{
	position:absolute;
	top:0;
	left: 37%;
	text-align:center;
}
ul.navig{
	padding:0;
}
ul.navig li{
	display: inline-block;
	margin: 0 12px;
	position:relative;
}
ul.navig li:nth-of-type(3) {
	margin: 0 25em 0 20px;
}
ul.navig li:nth-of-type(4){
	margin:0 20px 0 4em;
}
ul.navig li a{
	font-size:1em;
	color:#919191;
	font-weight:600;
	text-decoration: none;
}
ul.navig li a:hover {
	color: #000001;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
ul.navig li a:after{
	width:15px;
	height:15px;
	background:red;
	display: none;
	content:"";
	position:absolute;
	top:0;

}
.head_grid{
	text-align:center;
	width: 26.3%;
}
.head_grid_center{
	margin: 0 7em;
}
.grid_ba{
	width:100%;
	background:#dfdfdf;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	text-align:center;
	padding: 5em 1em;
	margin:0 auto;
}
.grid_ba p{
	margin:1em 0 0 0;
	font-size:1em;
	font-weight:600;
	color: #4c4a5a;
}
.stars {
	margin: 7em 0 2em 0;
	text-align: center;
	position: relative;
}
.stars:before {
	content: "";
	background: rgba(88, 86, 104, 0.33);
	height: 1px;
	width: 35%;
	position: absolute;
	top: 59%;
	left: 9%;
}
.stars:after {
	content: "";
	background: rgba(88, 86, 104, 0.33);
	height: 1px;
	width: 35%;
	position: absolute;
	top: 59%;
	right: 9%;
}
@media (max-width: 768px){
span.menu:before {
	content: url(../images/icons/nav-icon.png);
	cursor: pointer;
	height:32px;
}
ul.navig {
	width: 11%;
	float: right;
	margin:0;
}
ul.navig{
	display:none;
}
ul.navig li {
	font-size: 12px;
	display:inline-block;
	width: 100%;
	margin:0;
}
ul.navig li a {
	padding: 7px;
	font-size: 14px;
	width: 100%;
	font-weight:600;
	display:block;
	color: #fff;
}
ul.navig li a:hover{
	color:#000001;
}
 span.menu{
	display:block;
	float:right;
	margin: 20px 15px 0 0;
}
ul.navig{
	margin: 0;
	z-index: 999;
	position: absolute;
	width: 96%;
	text-align: center;
	top: 100%;
	left: 2%;
	padding: 10px 0px;
	background: rgba(90, 88, 107, 0.84);
}
.navigation {
	height: 60px;
	padding: 0px 16px 0em;
	margin-bottom: 0em;
}
ul.navig li:nth-of-type(4) {
	margin: 0 0px 0 0em;
}
ul.navig li:nth-of-type(3) {
	margin: 0 0em 0 0px;
}
.logo {
	left: 33.5%;
}
}
/*--Header-Part-Ends-Here --*/
/*--banner-part-starts-here --*/
.banner{
	background:url(../images/icons/banner.png) no-repeat;
	background-size:100% 100%;
	min-height: 1100px;
}
.banner-top {
	text-align: center;
	width: 75%;
	padding: 1.5em 0px;
	background: rgba(205,63,87,1);
	margin: 1em auto 0;
	border-radius: 0.3em;
	-webkit-transition: border-radius: 0.3em;
	-moz-transition: border-radius: 0.3em;
	-o-transition: border-radius: 0.3em;
	-ms-transition: border-radius: 0.3em;
}
.banner-top h1 {
	color: #fff;
	font-size: 2.75em;
	font-weight: 600;
	margin: 0;
}
.banner-top p {
	color: #fff;
	font-size: 17px;
	line-height: 1.6em;
	font-weight: 500;
	padding: 0 7.5%;
	margin-top: 1.5%;
}
.banner-left a {
	color: #fff;
	font-size: 1.55em;
	font-weight: 500;
	background: url(../images/icons/download.png) no-repeat;
	width: 273px;
	height: 100px;
	padding-top: 35px;
	display: block;
	margin: 47% auto 0;
}
.banner-right a {
	color: #fff;
	font-size: 1.55em;
	font-weight: 500;
	background: url(../images/icons/learn.png) no-repeat;
	width: 270px;
	height: 100px;
	padding-top: 35px ;
	display: block;
	margin: 47% auto 0;
}
.banner-left a:hover {
	background: url(../images/icons/learn.png) no-repeat;
	text-decoration:none;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.banner-bottom {
	margin-top: 5em;
	text-align: center;
}
/*--banner-part-ends-here --*/
/*--feature-part-starts-here --*/
.feature{
	padding:5em 0px;
}
.feature-main{
	text-align:center;
	margin-top:3em;
}
.feature-main h3,.news-main h3,.member-top h3{
	color: #fff;
	font-weight: 300;
	margin: 0;
	font-size: 3.2em;
}
.feature-main p,.news-main p,.member-top p{
	color: #fff;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.4em;
	width: 73%;
	margin: 1em auto 0;
}
.feature-left{
	width:16%;
	float:left;
}
.feature-right{
	width:84%;
	float:right;
}
.feature-bottom {
	margin-top: 3%;
}
.feature-right h4 {
	color: #fff;
	font-size: 2.2em;
	font-weight: 500;
	margin: 0;
}
.feature-right{
	text-align:left;
}
.ftr-one {
	margin-top: 4em;
}
.feature-right p {
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	line-height: 1.4em;
	margin-top: 1.2em;
}
/*--feature-part-ends-here --*/
/*--news-part-starts-here --*/
.top-news{
	height: 1465px;
	background: #f7f7f7;
}
.news {
	position:relative;
	background: url(../images/icons/n-banner.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	height: 1364px;
}
.news-main {
	margin-top:12em;
	text-align:center;
}
.news-top{
	text-align:center;
	margin-top: 8%;
	position: relative;
}
.news-top input[type="text"] {
	color: #fff;
	outline: none;
	font-family: 'Exo', sans-serif;
	font-size: 2.7em;
	border: none;
	font-weight: 300;
	-webkit-appearance: none;
	background: url(../images/icons/email.png) no-repeat 0 20px;
	width: 800px;
	height: 266px;
	text-align: center;
}
.contact-but input[type="submit"] {
	border: none;
	outline: none;
	color: #60e031;
	background: url(../v/subscribe.png) no-repeat;
	height: 110px;
	width: 206px;
	font-family: 'Exo', sans-serif;
	font-size: 25px;
	font-weight: 500;
	-webkit-appearance: none;
}
.contact-but input[type="submit"]:hover{
	color:#de5749;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-but {
	position: absolute;
	top: 70%;
	left: 41%;
}
.new-bottom {
	position: absolute;
	left: 24%;
	top: 87%;
}
.new-slid {
	left: 0;
	text-align: center;
	margin-top: 28%;
}
.new-slid p {
	color: #fff;
	font-size: 25px;
	font-weight: 500;
	line-height: 1.5em;
	width: 80%;
	margin: 0 auto;
}
.new-slid h4 {
	color: #fff;
	font-size: 2.15em;
	font-weight: 500;
	margin: 1.6em 0 2.5em 0;
	font-style: italic;
}
/*--news-part-ends-here --*/
/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 82.5%;
	left: 19%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 33px;
	width: 30px;
	background: transparent url("../images/icons/arrows.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 19%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 101%;
	z-index: 999;
	left: 83%;
	padding: 0;
	margin: 0;
	display: none;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/icons/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:16px;
  width:16px;
  display:inline-block;
  border:2px solid #FFF;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	border: 2px solid #FFFFFF;
	background: #FFFFFF;
}
/*-- Slider part Ends Here --*/
/*--slide-part-ends-here --*/
/*--app1-part-starts-here --*/
.app1-top h3,.screen-top h3,.team-top h3,.contact-top h3{
	color: #000001;
	font-weight: 300;
	margin: 0;
	font-size: 3.2em;
}
.app1-top p ,.screen-top p,.team-top p,.contact-top p{
	color: #919191;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.4em;
	width: 73%;
	margin: 1em auto 0;
}
.app1-top {
	text-align: center;
	margin-top: 8%;
}
.app1{
	background:url(../images/icons/app-banner.jpg) no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	min-height: 1200px;
}
.app1-main span {
	background: url(../images/icons/date-back.png)no-repeat;
	width: 170px;
	height: 64px;
	display: block;
	color: #000001;
	padding: 14px 0 0 18px;
	font-size: 26px;
	font-weight: 400;
}
.app1-main h4 {
	color: #000001;
	font-size: 1.65em;
	font-weight: 600;
	margin: 20px 0 0 0;
}
.app1-main p {
	color: #000001;
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 600;
	margin-top: 1em;
}
.app1-main{
	text-align:left;
	margin-top: 2em;
}
.app1-bottom{
	margin-top:5%;
}
/*--app1-part-ends-here --*/
/*--screen-part-starts-here --*/
.screen{
	background:url(../images/icons/screen-banner.jpg) no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	min-height: 770px;
}
.screen-top{
	text-align:center;
	margin-top:7%;
}
.screen-left img {
	width: 100%;
}
.screen-bottom {
	margin-top: 9%;
}
/*-----------------------------------------------------------------------------------*/
/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(75, 202, 255, 0.85);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top: 4%;
	display: -webkit-inline-box;
}
.b-animate span {
	font-family: 'Exo', sans-serif;
	display: block;
	font-size: 12px;
	padding-top: 5.9em;
	display: block;
	font-weight: 400;
	text-align: left;
	line-height: 1.6em;
	width: 93%;
	margin: 0 auto;
}
.b-animate label{
	display:block;
	font-size:0.875em;
	margin-top:0.5em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
.b-animate label:hover{
	color:#000;
	cursor:pointer;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left {
	position: relative;
	left: -100%;
	background: url(../images/icons/screen-mask.png) no-repeat;
	background-size: 100% 100%;
	top: 0px;
	margin: 0;
	min-height: 249px;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
.col-md-3.food-left-grid {
	padding: 0;
}
img.port-pic {
	width: 100%;
}
.f-grid {
	margin-bottom: 24px;
}
/*----bottom-grids--------------*/
/*--screen-part-ends-here --*/
/*--member-part-starts-here --*/
.member-top{
	margin-top:9%;
	text-align:center;
}
.member{
	background:url(../images/icons/members-banner.jpg) no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	min-height: 1030px;
}
.member-bottom-left:hover {
	transform: scale(1.05,1.25);
	-webkit-transform: scale(1.05,1.25);
	-moz-transform: scale(1.05,1.25);
	-o-transform: scale(1.05,1.25);
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.member-bottom {
	margin-top: 10%;
}
.member-one{
	background:#fff;
	padding:1em 0px;
	position:relative;
	text-align:center;
}
.mem-back{
	position:absolute;
	top: 10.2%;
	left: -22px;
	background:url(../images/icons/member-back.png);
	width:300px;
	height:100px;
	display:block;
}
.mem-back p, .mem-back label {
	color: #fff;
	font-size: 21px;
	font-weight: 600;
}
.mem-back p{
	margin-top:18px;
}
.mem-two {
	margin-top: 10em;
}
.mem-back label{
	margin-top:5px;
}
.mem-back p span{
	font-size:13px;
}
.mem-two h5 {
	color: #60e031;
	font-size: 1.3em;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid rgba(153, 153, 153, 0.16);
}
.mem-two h5:nth-child(5) {
	border-bottom: none;
}
/*--member-part-ends-here --*/
/*--team-part-starts-here --*/
.team-top{
	margin-top: 9%;
	text-align:center;
}
.team{
	background:url(../images/icons/team.jpg) no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	min-height: 935px;
}
.team-left img{
	width:100%;
}
.team-bottom{
	margin-top:5%;
}
.team-left{
	position:relative;
}
.team-one{
	position:absolute;
	top: 35px;
	left:0;
	text-align:center;
}
.team-one h4, .team-one h5 {
	color: #fff;
	font-weight: 600;
	font-size: 1.65em;
	margin: 10px 0 0 0;
}
.team-one p {
	color: #fff;
	font-size: 17px;
	font-weight: 300;
	padding: 0 4.5em;
	line-height: 1.6em;
	margin-top: 1em;
}
.team-one img {
	width: 40% !important;
	margin-bottom: 10px;
}
/*--team-part-ends-here --*/
/*--support-part-starts-here --*/
.support{
	background:url(../images/icons/support-bnr.jpg) no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	min-height: 360px;
}
.support-main {
  margin-top: 7.5%;
  text-align: center;
}
/*--support-part-ends-here --*/
/*--map-part-starts-here --*/
.map iframe{
	width:100%;
	height:500px;
}
/*--map-part-ends-here --*/
/*--contact-part-starts-here --*/
.contact{
	background:url(../images/icons/contact-banner.jpg) no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	min-height: 1035px;
	position:relative;
}
.contact-top{
	text-align:center;
	margin-top: 16%;
}
.contact-right {
	text-align: left;
}
.contact-right h6 span{
	display:block;
	margin-top: 10px;
}
.contact-right h6,.contact-right p,.contact-right p a{
	color: #60e031;
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 10px;
}
.contact-right p a:hover{
	text-decoration:none;
	color:#919191;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-left input[type="text"] {
	width: 100%;
	color: #60e031;
	outline: none;
	background: #fff;
	border: none;
	font-family: 'Exo', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 13px 15px;
	margin-bottom: 1em;
	font-style: italic;
	-webkit-appearance: none;
}
.contact-textarea textarea {
	resize: none;
	width: 97.5%;
	font-style: italic;
	color: #60e031;
	font-size: 22px;
	font-weight: 400;
	padding: 13px 15px;
	font-family: 'Exo', sans-serif;
	outline: none;
	padding: 10px 10px;
	min-height: 12em;
	background:#fff;
	border:none;
	-webkit-appearance: none;
}
.contact-textarea {
	text-align: center;
}
.map {
	margin-bottom: -7px;
}
.contact-submit {
	text-align: center;
	margin-top: 1em;
}
.contact-submit input[type="submit"] {
	border: none;
	outline: none;
	color: #60e031;
	background: #fff;
	padding: 10px 0px;
	font-family: 'Exo', sans-serif;
	font-size: 25px;
	font-weight: 600;
	-webkit-appearance: none;
	width: 97.5%;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-submit input[type="submit"]:hover{
	color:#fff;
	background:#60e031;
}
.contact-bottom {
	margin-top: 9%;
}
.social {
	background: url(../images/icons/social-back.png) no-repeat;
	width: 570px;
	height: 89px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 32%;
}
.social ul {
	padding: 0;
	position: absolute;
	bottom: 17%;
	left: 33%;
}
.social ul li{
	list-style:none;
	display:inline-block;
	margin:0 5px;
}
.social ul li a span{
	background:url(../images/icons/ftr-sprit.png) no-repeat;
	width:25px;
	height:25px;
	display:block;
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social ul li span.fb{
	background-position:0px 0px;
}
.social ul li span.p{
	background-position:-24px 0px;
}
.social ul li span.twt{
	background-position:-47px 0px;
}
.social ul li span.g{
	background-position:-71px 0px;
}
.social ul li span.rss {
	background-position: -96px 0px;
}
.social ul li span.fb:hover{
	background-position:0px -25px;
}
.social ul li span.p:hover{
	background-position:-24px -25px;
}
.social ul li span.twt:hover{
	background-position:-47px -25px;
}
.social ul li span.g:hover{
	background-position:-71px -25px;
}
.social ul li span.rss:hover{
	background-position:-96px -25px;
}
/*--contact-part-ends-here --*/
/*--footer-Part-starts-Here--*/
.footer-text p {
	color: #ffffff;
	font-size: 16px;
	margin-top: 10px;
	font-weight: 700;
}
.footer{
	background:#60e031;
	padding:2em 0px;
	text-align:center;
}
.footer-text p a {
	color: #fff;
}
.footer-text p a:hover {
	color: #de5749;
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--footer-Part-Ends-Here --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 60px;
  height: 55px;
  border: none;
  text-indent: 100%;
  border: 2px solid #fff;
  background: url(../images/icons/top-arw.png) no-repeat 7px 13px #000001;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
}
/*--starts-media-quaries--*/
@media (max-width:1440px){

}
@media (max-width:1366px){
.app1 {
	min-height: 1110px;
}
.banner-middle img {
  width: 90%;
}
.banner {
  min-height: 1085px;
}
.news-top {
	margin-top: 6%;
}
.new-bottom {
	left: 19.5%;
	top: 86%;
}
.new-slid {
	margin-top: 21%;
}
.callbacks_nav {
	top: 80.5%;
}
.top-news {
	height: 1365px;
}
.news {
	height: 1260px;
}
.app1-top {
	margin-top: 6%;
}
.app1-bottom {
	margin-top: 4%;
}
.screen-top {
	margin-top: 5%;
}
.screen-bottom {
	margin-top: 7%;
}
.screen {
	min-height: 690px;
}
.member {
	min-height: 930px;
}
.member-top {
  margin-top: 5%;
}
.member-bottom {
	margin-top: 9%;
}
.team-top {
  margin-top: 3%;
}
.team-bottom {
	margin-top: 4%;
}
.team {
	min-height: 800px;
}
.team-left img {
	width: 97%;
}
.team-left {
	text-align: center;
}
.support {
	min-height: 310px;
}
.support-main {
	margin-top: 5.5%;
}
.map iframe {
	height: 400px;
}
.contact-top {
	margin-top: 14%;
}
.contact-bottom {
	margin-top: 7%;
}
.feature {
	padding: 3em 0px;
}
.social {
	left: 29%;
}
.logo {
	left: 34.7%;
}
}
@media (max-width:1280px){
.social {
	left: 27%;
}
.feature-main h3, .news-main h3,
.member-top h3,.app1-top h3,
.screen-top h3, .team-top h3, .contact-top h3 {
	font-size: 3em;
}
.logo {
	left: 33.5%;
}
.feature {
	padding: 2em 0px;
}
.app1-top {
	margin-top: 4.5%;
}
.app1-bottom {
	margin-top: 2%;
}
.screen {
	min-height: 620px;
}
.member {
	min-height: 854px;
}
.member-bottom {
	margin-top: 7%;
}
.member-top {
	margin-top: 5%;
}
.team-top {
	margin-top: 4%;
}
.screen-bottom {
	margin-top: 5%;
}
.screen-top {
	margin-top: 4%;
}
.app1 {
	min-height: 1150px;
}
.new-bottom img {
	width: 85%;
}
.news-top input[type="text"] {
	font-size: 2.35em;
	width: 680px;
	height: 240px;
	background-size: 100%;
}
.contact-but input[type="submit"] {
	height: 90px;
	background-size: 100%;
	width: 170px;
	font-size: 22px;
}
.contact-but {
	top: 65%;
	left: 41.5%;
}
.new-bottom {
	left: 22%;
	top: 86%;
}
.new-slid img {
	width: 18%;
}
.new-slid h4 {
	font-size: 2.15em;
	margin: 1.3em 0 2.2em 0;
}
.callbacks_nav {
	top: 79%;
	left: 23%;
}
.callbacks_nav.next {
	right: 23%;
}
.support {
	min-height: 286px;
}
.support-main {
	margin-top: 4%;
}
.contact {
	min-height: 970px;
}
.feature-right h4 {
	font-size: 2.1em;
}
.contact-bottom {
	margin-top: 5.5%;
}
.contact-top {
	margin-top: 12%;
}
.map iframe {
	height: 335px;
}
.top-news {
	height: 1050px;
}
.new-slid {
	margin-top: 14%;
}
.news {
	height: 1100px;
}
.news-top {
	margin-top: 4%;
}
}
@media (max-width:1024px){
ul.navig li {
	margin: 0 5px;
}
.logo a img {
	width: 80%;
}
ul.navig li {
	margin: 0 8px;
}
ul.navig li:nth-of-type(3) {
	margin: 0 18em 0 8px;
}
ul.navig li:nth-of-type(4) {
	margin: 0 8px 0 6em;
}
.banner-top h1 {
	font-size: 2.34em;
}
.banner-top {
	width: 80%;
	padding: 1.35em 0px;
	margin: 6em auto 0;
}
.banner-top h1 {
	font-size: 2.34em;
}
.banner-top p {
	font-size: 15px;
}
.banner-middle img {
  width: 85%;
}
.banner-left a,.banner-right a{
	font-size: 1.285em;
	width: 230px;
	height: 88px;
	background-size: 100%;
	padding-top: 29px;
	margin: 43% auto 0;
}
.banner-left a:hover{
	width: 230px;
	height: 88px;
	background-size: 100%;
}
.feature-main h3, .news-main h3, .member-top h3,
.app1-top h3, .screen-top h3, .team-top h3, .contact-top h3 {
	font-size: 2.45em;
}
.feature-main p, .news-main p, .member-top p,.app1-top p,
.screen-top p, .team-top p, .contact-top p {
	width: 88%;
	margin: 15px auto 0;
}
.feature-right h4 {
	font-size: 1.9em;
}
.app1-main h4 {
	font-size: 1.36em;
	margin: 15px 0 0 0;
}
.app1-main span {
	width: 160px;
	height: 60px;
	background-size: 100%;
	padding: 15px 0 0 24px;
	font-size: 21px;
}
.app1-main {
	margin-top: 1.7em;
}
.app1-main:nth-child(3) {
display: none;
}
.app1-main p {
	font-size: 15px;
	margin-top: 9px;
}
.feature-right p {
	font-size: 16px;
}
.app1-top {
	margin-top: 5%;
}
.feature-right {
	width: 82%;
}
.feature-left img {
	width: 95%;
}
.feature-bottom {
	margin-top: 2%;
}
.ftr-one {
	margin-top: 2.6em;
}
.news-main {
	margin-top: 9em;
}
.news-top input[type="text"] {
	font-size: 2.25em;
	width: 560px;
	height: 185px;
}
.contact-but input[type="submit"] {
	height: 80px;
	width: 150px;
	font-size: 20px;
}
.news {
	height: 870px;
}
.new-slid {
	margin-top: 15.3%;
}
.new-slid img {
	width: 16%;
}
.new-bottom img {
	width: 70%;
}
.new-slid h4 {
	font-size: 1.8em;
	margin: 1em 0 2em 0;
}
.callbacks_nav {
	top: 83.5%;
	left: 24%;
	height: 22px;
	width: 20px;
	background-size: 193%;
}
.callbacks_nav.next {
	right: 26%;
}
.new-slid p {
	font-size: 20px;
}
.contact-but {
	top: 70%;
	left: 42%;
}
.top-news {
	height: 900px;
}
.feature-main {
	margin-top: 1.5em;
}
.banner {
	min-height: 870px;
}
.logo {
	left: 29.5%;
}
.header {
	padding: 1.5em 0;
}
.app1 {
	min-height: 745px;
}
.screen-top {
  margin-top: 4%;
}
.screen-bottom {
	margin-top: 4%;
}
.screen {
	min-height: 515px;
}
.b-from-left {
	min-height: 200px;
}
.member-top {
  margin-top: 3%;
}
.team-top {
  margin-top: 2%;
}
.mem-back {
	top: 8.2%;
	left: -20px;
	width: 240px;
	height: 80px;
	background-size: 100%;
}
.mem-two h5 {
	font-size: 1.05em;
	padding: 9px 0;
}
.mem-two {
	margin-top: 8em;
}
.member-one {
	padding: 1em 0px 1.3em 0;
}
.team-one h4, .team-one h5 {
	font-size: 1.35em;
	margin: 5px 0 0 0;
}
.team-one {
	top: 25px;
}
.team-one p {
	font-size: 16px;
	padding: 0 1.5em;
	margin-top: 1em;
}
.team {
	min-height: 630px;
}
.support-left img {
	width: 100%;
}
.team-one img {
	width: 35% !important;
	margin-bottom: 6px;
}
.member {
	min-height: 695px;
}
.mem-back p {
	margin-top: 12px;
}
.mem-back label {
	margin-top: 0px;
}
.mem-back p span {
	font-size: 12px;
}
.mem-back p, .mem-back label {
	font-size: 19px;
}
.support {
	min-height: 230px;
}
.map iframe {
	height: 270px;
}
.contact-left input[type="text"] {
	font-size: 20px;
	padding: 11px 15px;
	margin-bottom: 13px;
}
.contact-right h6, .contact-right p, .contact-right p a {
	font-size: 15px;
	margin-bottom: 6px;
}
.contact-textarea textarea {
	width: 96.7%;
	font-size: 20px;
	padding: 13px 15px;
	min-height: 10em;
}
.contact-submit input[type="submit"] {
	padding: 9px 0px;
	font-size: 23px;
	width: 96.7%;
}
.contact-submit {
	margin-top: 10px;
}
.social {
	width: 500px;
	height: 79px;
	background-size: 100%;
	left: 24.5%;
}
.social ul {
	bottom: 14%;
	left: 31%;
}
.footer {
	padding: 1em 0px;
}
.contact-top {
	margin-top: 11%;
}
.contact {
	min-height: 780px;
}
}
@media (max-width:768px){
.logo {
	left: 22%;
	text-align: center;
}
.screen-top {
  margin-top: 3%;
}
.app1 {
  min-height: 1020px;
}
span.menu {
	margin: 19px 37px 0 0;
}
.logo a img {
	width: 60%;
}
.banner-top h1 {
	font-size: 1.8em;
}
.header {
	padding: 0em 0;
}
ul.navig li,ul.navig li:nth-of-type(3),ul.navig li:nth-of-type(4){
	margin: 0 0px;
}
.banner-top {
	width: 90%;
	padding: 1.2em 0px;
	margin: 4em auto 0;
}
.banner-left,.banner-middle,.banner-right{
	width: 33.3%;
	float: left;
}
.banner-left a, .banner-right a,.banner-left a:hover{
	font-size: 1em;
	width: 170px;
	height: 63px;
	padding-top: 22px;
}
.banner {
	min-height: 720px;
}
.banner-bottom {
  margin-top: 3em;
}
.feature-main h3, .news-main h3, .member-top h3,
 .app1-top h3, .screen-top h3, .team-top h3, .contact-top h3 {
	font-size: 2em;
}
.feature-main {
	margin-top: 0em;
}
.feature-main p, .news-main p, .member-top p, .app1-top p, .screen-top p,
 .team-top p, .contact-top p {
	width: 100%;
	margin: 8px auto 0;
	font-size: 15px;
}
.banner {
  min-height: 645px;
}
.feature-left {
	width: 10%;
	float: none;
	margin: 0 auto;
}
.feature-right {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.ftr-one {
	margin-top: 1.8em;
}
.feature-right h4 {
	font-size: 1.6em;
}
.feature-right p {
	font-size: 15px;
	margin-top: 11px;
}
.news-main {
	margin-top: 6em;
}
.news-top input[type="text"] {
	font-size: 1.68em;
	width: 410px;
	height: 130px;
	padding-top: 21px;
}
.new-slid p {
	font-size: 16px;
}
.new-slid h4 {
	font-size: 1.45em;
	margin: 1em 0 2em 0;
}
.new-slid img {
	width: 14%;
}
.news-top {
	margin-top: 2.5%;
}
.new-bottom img {
	width: 65%;
}
.new-bottom {
	left: 26%;
	top: 86%;
}
.callbacks_nav {
	top: 93%;
	left: 28%;
}
.callbacks_nav.next {
	right: 28%;
}
.top-news {
	height: 600px;
}
.app1-main {
	margin-top: 1.5em;
	text-align:center;
}
.app1-bottom {
	margin-top: 4%;
}
.app1-main span {
	width: 150px;
	height: 56px;
	padding: 14px 0 0 0px;
	font-size: 20px;
	margin: 0 auto;
}
.screen-bottom {
	margin-top: 3%;
}
.b-animate span {
	font-size: 11px;
	padding-top: 2.9em;
	overflow: hidden;
	height: 82px;
}
.member-bottom-left {
	width: 25%;
	float: left;
}
.mem-back {
	top: 7%;
	left: -13px;
	width: 177px;
	height: 59px;
}
.mem-two {
	margin-top: 5em;
}
.mem-back p, .mem-back label {
	font-size: 14px;
}
.mem-back p {
	margin-top: 9px;
}
.mem-back p span {
	font-size: 10px;
}
.mem-two h5 {
	font-size: 13px;
	padding: 7px 0;
}
.member-one {
	padding: 1em 0px 15px 0;
}
.member {
	min-height: 516px;
}
.team-left {
	width: 33.3%;
	float: left;
}
.team-one img {
	width: 30% !important;
	margin-bottom: 2px;
}
.team-one h4, .team-one h5 {
	font-size: 16px;
}
.team-one p {
	font-size: 14px;
	padding: 0 1.6em;
	margin-top: 13px;
}
.team {
	min-height: 475px;
}
.support {
	min-height: 170px;
}
.map iframe {
	height: 200px;
}
.contact-right {
  text-align: center;
  margin: 14px 0px 20px 0px;
}
.contact-left input[type="text"] {
	font-size: 18px;
	padding: 10px 15px;
	margin-bottom: 12px;
}
.contact-textarea textarea {
	width: 96.7%;
	font-size: 18px;
	padding: 10px 15px;
	min-height: 9em;
}
.contact-submit input[type="submit"] {
	padding: 9px 0px;
	font-size: 20px;
}
.contact-submit {
	margin-top: 5px;
}
.social {
	width: 410px;
	height: 65px;
	left: 21.5%;
}
.social ul {
	bottom: 5%;
	left: 28%;
}
.contact {
	min-height: 800px;

}
.contact-right h6, .contact-right p, .contact-right p a {
	font-size: 16px;
	margin-bottom: 10px;
}
.support-left {
	width: 25%;
	float: left;
}
.b-from-left {
	min-height: 146px;
}
.screen {
	min-height: 380px;
}
.screen-left {
	width: 25%;
	float: left;
}
.news {
	height: 650px;
}
.contact-but input[type="submit"] {
	height: 58px;
	width: 105px;
	font-size: 16px;
}
.contact-but {
	top: 78%;
	left: 42.5%;
}
}
@media (max-width:640px){
.banner-top h1 {
	font-size: 1.6em;
}
.logo {
	left: 16%;
}
.banner-top p {
	font-size: 14px;
	padding: 0 2%;
}
.banner-top {
	width: 95%;
	padding: 1em 0px;
	margin: 3.5em auto 0;
}
.banner-bottom {
	margin-top: 2.5em;
}
.banner-left a, .banner-right a, .banner-left a:hover {
	font-size: 14px;
	width: 140px;
	height: 52px;
	padding-top: 17px;
}
.banner {
	min-height: 540px;
}
.feature-main p, .news-main p, .member-top p, .app1-top p, .screen-top p, .team-top p, .contact-top p {
	margin: 5px auto 0;
	font-size: 14px;
}
.feature-right h4 {
	font-size: 1.4em;
}
.feature-right p {
	font-size: 14px;
	margin-top: 6px;
}
.feature-right {
	margin-top: 13px;
}
.ftr-one {
	margin-top: 1.3em;
}
.news-top input[type="text"] {
	font-size: 1.37em;
	width: 310px;
	height: 108px;
	padding-top: 25px;
}
.new-slid p {
	font-size: 15px;
}
.new-slid h4 {
	font-size: 1.3em;
	margin: 1em 0 2em 0;
}
.news {
	height: 560px;
}
.app1-main span {
	width: 124px;
	height: 46px;
	padding: 12px 0 0 0px;
	font-size: 17px;
}
.app1-main h4 {
	font-size: 1.3em;
	margin: 12px 0 0 0;
}
.app1-main {
	margin-top: 1.2em;
}
.contact-but input[type="submit"] {
	height: 50px;
	width: 85px;
	font-size: 14px;
}
.feature-main h3, .news-main h3, .member-top h3, .app1-top h3,
.screen-top h3, .team-top h3, .contact-top h3 {
	font-size: 1.75em;
}
.app1 {
	min-height: 525px;
}
.app1-main:nth-child(2) {
	display: none;
}
.screen {
	min-height: 310px;
}
.mem-back {
	top: 7%;
	left: -8px;
	width: 130px;
	height: 43px;
}
.mem-back p {
	margin-top: 5px;
}
.mem-back p, .mem-back label {
	font-size: 11px;
}
.mem-back p span {
	font-size: 8px;
}
.mem-two h5 {
	font-size: 11px;
}
.mem-two {
	margin-top: 4em;
}
.member-bottom {
	margin-top: 5%;
}
.member {
	min-height: 445px;
}
.team-one h4, .team-one h5 {
	font-size: 14px;
}
.team-one p {
	font-size: 12px;
	overflow: hidden;
	height: 39px;
	padding: 0 1.8em;
	margin-top: 11px;
}
.team-one {
	top: 21px;
}
.team {
  min-height: 390px;
}
.team-left img {
	width: 94%;
}
.team-one {
	top: 18px;
}
.support {
	min-height: 145px;
}
.support-main {
	margin-top: 5%;
}
.map iframe {
	height: 170px;
}
.contact-top {
	margin-top: 14%;
}
.contact-right h6, .contact-right p, .contact-right p a {
	font-size: 15px;
	margin-bottom: 8px;
}
.social {
	width: 350px;
	height: 55px;
}
.social ul {
	bottom: 0%;
	left: 27%;
}
.social {
	width: 350px;
	height: 55px;
}
.contact-left input[type="text"] {
	font-size: 16px;
	padding: 8px 15px;
	margin-bottom: 8px;
}
.contact-right {
	margin: 10px 0px;
}
.contact-textarea textarea {
	font-size: 16px;
	padding: 7px 15px;
	min-height: 8em;
}
.contact-submit input[type="submit"] {
	padding: 8px 0px;
	font-size: 18px;
}
.contact-submit {
	margin-top: 2px;
}
.contact {
	min-height: 685px;
}
.footer {
	padding: 10px 0px;
}
.b-from-left {
	min-height: 115px;
}
}
@media (max-width:480px){
.logo {
	left: 14%;
	width: 70%;
}
#toTop {
  width: 45px;
  height: 45px;
  background: url(../images/icons/top-arw.png) no-repeat 3px 10px #000001;
  background-size: 88%;
}
.banner-middle img {
  width: 90%;
}
span.menu {
	margin: 15px 10px 0 0;
}
.navigation {
	height: 49px;
}
.banner-top p {
	font-size: 12px;
	padding: 0 1%;
	overflow: hidden;
	height: 38px;
}
.banner-top {
	width: 95%;
	padding: 12px 0px;
	margin: 2.5em auto 0;
}
.banner-left a, .banner-right a, .banner-left a:hover {
	font-size: 10px;
	width: 97px;
	height: 35px;
	padding-top: 11px;
	margin: 30% auto 0;
}
.feature-main h3, .news-main h3, .member-top h3, .app1-top h3, .screen-top h3, .team-top h3, .contact-top h3 {
	font-size: 1.5em;
}
.feature-main p, .news-main p, .member-top p, .app1-top p, .screen-top p, .team-top p, .contact-top p {
	margin: 7px auto 0;
	overflow: hidden;
	height: 40px;
}
.feature-right p {
	overflow: hidden;
	height: 59px;
}
.news-top input[type="text"] {
	font-size: 1.1em;
	width: 240px;
	height: 86px;
	padding-top: 25px;
}
.contact-but input[type="submit"] {
	height: 35px;
	width: 66px;
	padding-top: 4px;
	font-size: 10px;
}
.news-main {
	margin-top: 4em;
}
.news-top {
	margin-top: 0%;
}
.news {
	height: 405px;
}
.callbacks_nav {
	top: 103%;
	left: 28%;
	height: 15px;
	width: 15px;
	background-size: 190%;
}
.top-news {
	height: 410px;
}
.app1-main span {
	width: 112px;
	height: 41px;
	padding: 10px 0 0 0px;
	font-size: 16px;
}
.app1-main {
	margin-top: 1em;
}
.app1-bottom {
	margin-top: 4%;
}
.app1 {
	min-height: 472px;
}
.col-md-3.screen-left:nth-child(4){
	display: none;
}
.col-md-3.screen-left {
	width: 33.3%;
}
.app1-main p {
	font-size: 14px;
	margin-top: 6px;
}
.screen {
	min-height: 278px;
}
.member-bottom-left:nth-child(4){
	display:none;
}
.team-one img {
	width: 28% !important;
	margin-bottom: 0px;
}
.team-one h4, .team-one h5 {
	font-size: 11px;
}
.team-one p {
	font-size: 11px;
	overflow: hidden;
	height: 36px;
	margin-top: 5px;
}
.team-top {
  margin-top: 2%;
}
.support {
	min-height: 107px;
}
.map iframe {
	height: 126px;
}
.contact-right h6, .contact-right p, .contact-right p a {
	font-size: 14px;
	margin-bottom: 4px;
}
.contact-right {
	margin: 6px 0px;
}
.contact-textarea textarea {
	font-size: 15px;
	padding: 7px 13px;
	min-height: 7em;
}
.contact-submit input[type="submit"] {
	padding: 6px 0px;
	font-size: 16px;
}
.contact-submit {
	margin-top: 0px;
}
.social {
	width: 310px;
	height: 49px;
	left: 15%;
}
.social ul li a span {
	width: 18px;
	height: 18px;
	background-size: 542%;
}
.social ul li span.fb {
	background-position: 0px 0px;
}
.social ul li span.fb:hover {
  background-position: 0px -18px;
}
.social ul li span.p:hover {
  background-position: -18px -18px;
}
.social ul li span.g:hover {
  background-position: -56px -18px;
}
.social ul li span.twt:hover {
  background-position: -36px -19px;
}
.social ul li span.rss:hover {
  background-position: -75px -18px;
}
.contact {
	min-height: 575px;
}
.banner-bottom {
	margin-top: 1.5em;
}
.social ul li {
	margin: 0 2px;
}
.social ul {
	bottom: 9%;
	left: 28%;
}
.footer-text p {
	font-size: 14px;
}
.social ul li span.p {
	background-position: -18px 0px;
}
.social ul li span.twt {
	background-position: -36px 0px;
}
.social ul li span.g {
	background-position: -56px 0px;
}
.social ul li span.rss {
	background-position: -75px 0px;
}
.contact-left input[type="text"] {
	font-size: 15px;
	padding: 7px 15px;
	margin-bottom: 6px;
}
.team {
	min-height: 306px;
}
.team-one {
	top: 13px;
}
.team-left img {
	width: 100%;
}
.member {
	min-height: 415px;
}
.member-bottom-left{
	width:33.3%;
}
.app1-main h4 {
	font-size: 1.1em;
	margin: 10px 0 0 0;
}
.new-slid h4 {
	font-size: 1em;
	margin: 5px 0 1.5em 0;
}
.banner {
	min-height: 365px;
}
.banner {
	min-height: 380px;
}
.banner-top h1 {
	font-size: 1.35em;
}
.new-slid p {
	font-size: 11px;
}
}
@media (max-width:320px){
span.menu {
	margin: 12px 0px 0 0;
}
.logo a img {
	width: 90%;
}
.logo {
	left: 17%;
	width: 66%;
	top: 19%;
}
.col-md-6.feature-bottom-left:nth-child(3){
	display:none;
}
.banner-top h1 {
  font-size: 1em;
}
.news-top input[type="text"] {
	font-size: 16px;
	width: 185px;
	height: 75px;
	padding-top: 19px;
}
.contact-but input[type="submit"] {
	height: 28px;
	width: 52px;
	padding: 0px;
	font-size: 9px;
}
.new-slid p {
	font-size: 12px;
	overflow: hidden;
	height: 36px;
}
.news {
	height: 360px;
}
.new-bottom img {
	width: 80%;
}
.new-bottom {
	left: 19%;
	top: 85.5%;
}
.b-from-left {
	min-height: 104px;
}
.app1-main p {
	overflow: hidden;
	height: 56px;
	font-size: 13px;
}
.app1-main h4 {
	font-size: 1em;
}
.screen-top {
	margin-top: 3%;
}
.screen {
	min-height: 245px;
}
.member-bottom-left:nth-child(3) {
	display: none;
}
.member-bottom-left{
	width:50%;
}
.col-md-3.screen-left{
	width:50%;
}
.col-md-3.screen-left:nth-child(3){
	display:none;
}
.top-news {
	height: 370px;
}
.new-slid {
	margin-top: 12%;
}
.new-slid img {
	width: 17%;
}
.callbacks_nav.next {
	right: 18%;
}
.callbacks_nav {
  top: 115%;
  left: 21%;
}
.contact-but {
	top: 77%;
	left: 40%;
}
.banner-top {
  width: 100%;
  padding: 9px 0px;
  margin: 2.5em auto 0;
}
.banner-left a, .banner-right a, .banner-left a:hover {
	font-size: 9px;
	width: 80px;
	height: 32px;
	padding-top: 9px;
	margin: 52% auto 0;
}
.banner-middle img {
  width: 90%;
}
.banner-left, .banner-middle, .banner-right {
	padding: 0;
}
.banner-bottom {
	margin-top: 1em;
}
.banner {
	min-height: 307px;
}
.feature-left img {
	width: 100%;
}
.feature-main h3, .news-main h3, .member-top h3,
 .app1-top h3, .screen-top h3, .team-top h3, .contact-top h3 {
  font-size: 1.2em;
}
.feature-left {
	width: 14%;
}
.feature-right p {
	overflow: hidden;
	height: 54px;
	font-size: 13px;
}
.ftr-one {
	margin-top: 1em;
}
.ftr-one:nth-child(3){
	display:none;
}
.feature-bottom {
	margin-top: 4%;
}
.feature-right h4 {
	font-size: 1.2em;
}
.mem-back {
	left: -13px;
}
.member-bottom {
	margin-top: 7%;
}
.team-left{
	width:50%
}
.team-one {
	top: 10px;
}
.team {
	min-height: 280px;
}
.support-left:nth-child(3),.support-left:nth-child(4){
	display:none;
}
.support-left{
	width:50%;
}
.social {
	width: 238px;
	height: 38px;
	left: 10%;
}
.social ul {
	bottom: 0%;
	left: 25%;
}
.contact {
	min-height: 524px;
}
.footer-text p {
	font-size: 13px;
}
.contact-right h6, .contact-right p, .contact-right p a {
	font-size: 13px;
}
.team-left:nth-child(3){
	display:none;
}
.member-bottom-left:hover {
	transform: scale(1,1.1);
	-webkit-transform: scale(1,1.1);
	-moz-transform: scale(1,1.1);
	-o-transform: scale(1,1.1);
	-ms-transform: scale(1,1.1);
}
.contact-left input[type="text"],.contact-textarea textarea{
  font-size: 13px;
}
.contact-top {
  margin-top: 19%;
}
ul.navig li a {
  padding: 6px;
  font-size: 13px;
}
.feature {
  padding: 2em 0px 1.2em 0px;
}
}
/*--end-media-quaries--*/
