.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

body {
  padding-top: 70px;
}

.header-pos {
  position: relative;
  top: 200px;
}

h1 a {
  color: #FCA205
}

.navbar-color {
  color: black;
}

.navbar-fixed-top .nav{
  padding: 15px 0;
}

.navbar-brand {
  padding: 0 15px;
}

.row {
  padding: 30px;
}
