.band-comment {
    margin: 20px 0px 20px 20px;
    font-family: 'Open Sans', sans-serif;
}

.band-info {
    font-family: 'Open Sans', sans-serif;
}

.band-introduction {

}

.row .col-md-2 .social-sharing {
    position: fixed;
    right: 0;
    bottom: 0;
}

.circle-add {
    position:relative;
    width:200px;
    height:200px;
}
.circle-add img {
    width:100%;
    vertical-align:top;
}
.circle-add:after, .circle-add:before {
    position:relative;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.circle-add:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    border-radius: 6px;
}
.circle-add:before {
    content: attr(data-content);
    width:100%;
    color:#000000;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-radius: 4px;
}
.circle-add:hover:after, .circle-add:hover:before {
    opacity:1;
}

.circle-plus {
    position:relative;
    width:200px;
    height:200px;
}
.circle-plus img {
    width:100%;
    vertical-align:top;
}
.circle-plus:after, .circle-plus:before {
    position:relative;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.circle-plus:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    border-radius: 6px;
}
.circle-plus:before {
    content: attr(data-content);
    width:100%;
    color:#000000;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    background:white;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-radius: 4px;
}
.circle-plus:hover:after, .circle-plus:hover:before {
    opacity:1;
}

.comment-sec {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #000000;
    color: #FFFFFF;
    resize: none;
}