
.user_profile {
    font-family: Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 315px;
    width: 100%;

    text-align: left;
    line-height: 1.4em;

}
.user_profile img {
    max-width: 100%;
    vertical-align: top;

}
.user_profile figcaption {
    width: 100%;
    padding: 25px;
    position: relative;
}
.user_profile figcaption:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 400px;
}
.user_profile figcaption a {
    padding: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 47%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.user_profile figcaption a:hover {
    opacity: 1;
}
.user_profile .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 25px;
    z-index: 1;
    max-width: 90px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.user_profile .follow {
    margin-right: 4%;
    border-color: #2980b9;
    color: #2980b9;
}
.user_profile h2 {
    margin: 0 0 5px;
    font-size:10px;

}
.user_profile h2 span {

    display: block;
    font-size: 0.5em;
    color: #2980b9;
}
.user_profile p {
    margin: 0 0 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.8;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.r-btn{
    margin-top:10%;
}
.r-btn a {
    color: #fff;
    padding: 10px 50px;
    font-size: 13px;
    font-weight: 400;
    background: url(/static/images/icons/arw-btn.png) no-repeat 146px 17px #ff1732;
    border-radius: 2.3em;
    -webkit-border-radius: 2.3em;
    -moz-border-radius: 2.3em;
    -o-border-radius: 2.3em;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
.r-btn a:hover{
    background: url(/static/images/icons/arw-btn.png) no-repeat 146px 17px #1b2e39;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.r-btn a {
    padding: 8px 40px;
    background: url(/static/images/icons/arw-btn.png) no-repeat 138px 14px #ff1732;
}
.r-btn a:hover{
    background: url(/static/images/icons/arw-btn.png) no-repeat 138px 14px #1b2e39;
}
.r-btn {
    margin-top: 8%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
